* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-btn:hover {
  background-color: #d1d1d1;
  cursor: pointer;
}

.create-tenant {
  height: 80vh;
  display: flex;
  flex-direction: column;
}
.create-tenant__content{
  width: 90%;
}
.create-tenant__info {
  gap: 1rem;
  margin-top: 1rem;
}
